.markdown {
	@apply prose-2xl prose-stone font-serif;

	& p {
		@apply leading-8;
	}
	& a {
		@apply text-cyan-600;
	}
	& h2 {
		@apply mb-2 font-sans text-2xl font-medium text-cyan-700;
	}
	& h2 code {
		@apply text-[1.55rem] font-bold;
	}
	& > pre {
		@apply border bg-gray-50 shadow-sm;
	}
}

:root {
	--prism-font-family: theme('fontFamily.mono');
	--prism-font-size: theme('fontSize.lg');

	--prism-foreground: theme('colors.slate.700');
	--prism-background: theme('colors.transparent');
	--prism-string: theme('colors.green.700');
	--prism-literal: theme('colors.blue.700');
	--prism-keyword: theme('colors.slate.800');
	--prism-comment: theme('colors.slate.500');
}

.speech-bubble {
	@apply relative ml-auto w-fit translate-x-12 transform rounded-lg bg-amber-400 px-4 py-2 !text-white;
}
